In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount = True)

Mounted at /content/drive

In [ ]:
cd drive/MyDrive/'Gyan Summarization'

/content/drive/.shortcut-targets-by-id/1aq8al2Fz8h5YEHumL3l9KkJrASRnm_ro/Gyan Summarization

In [ ]:
ls

Cleaned-data-2022.csv         Gyan_data_2022_Aug.gsheet
Cleaned-data-intern-2022.csv  Gyan_data_intern_2022_Aug.csv
Cleaning-datasets/            Notebooks/
Extracting-keywords/          Summarization-trials/
Gyan_data_2022_Aug.csv        Text-visualization/

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# file = 'Cleaned-data-2022.csv'
# json_export = 'extracted-keyphrases.json'

file = 'Cleaned-data-intern-2022.csv'
json_export = 'per-company-extracted-keyphrases-intern.json'

In [ ]:
cleaned_df = pd.read_csv(file)
cleaned_df.head()

,Year,Company,Profile,Location,Procedure,Preparation,Experience,Advice,Tips,Category,CGPA
0,2018,nvidia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,internships,0.0
1,2018,nvidia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,internships,0.0
2,2018,nvidia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,internships,0.0
3,2018,qualcomm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,internships,0.0
4,2018,qualcomm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,internships,0.0

In [ ]:
# Filling na with 0 or ''
for col in cleaned_df.columns:
  dt = cleaned_df[col].dtype
  if dt == int or dt == float:
    cleaned_df[col].fillna(0, inplace = True)
  else:
    cleaned_df[col].fillna('', inplace = True)

In [ ]:
important_cols = cleaned_df.columns[4:9]

In [ ]:
pip install yake summa

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yake
  Downloading yake-0.4.8-py2.py3-none-any.whl (60 kB)
     |████████████████████████████████| 60 kB 4.3 MB/s
Collecting summa
  Downloading summa-1.2.0.tar.gz (54 kB)
     |████████████████████████████████| 54 kB 3.9 MB/s
Requirement already satisfied: click>=6.0 in /usr/local/lib/python3.8/dist-packages (from yake) (7.1.2)
Requirement already satisfied: networkx in /usr/local/lib/python3.8/dist-packages (from yake) (2.8.8)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from yake) (1.21.6)
Collecting jellyfish
  Downloading jellyfish-0.9.0.tar.gz (132 kB)
     |████████████████████████████████| 132 kB 44.5 MB/s
Requirement already satisfied: tabulate in /usr/local/lib/python3.8/dist-packages (from yake) (0.8.10)
Collecting segtok
  Downloading segtok-1.5.11-py3-none-any.whl (24 kB)
Requirement already satisfied: scipy>=0.19 in /usr/local/lib/python3.8/dist-packages (from summa) (1.7.3)
Requirement already satisfied: regex in /usr/local/lib/python3.8/dist-packages (from segtok->yake) (2022.6.2)
Building wheels for collected packages: summa, jellyfish
  Building wheel for summa (setup.py) ... done
  Created wheel for summa: filename=summa-1.2.0-py3-none-any.whl size=54410 sha256=bff5c487b5fb1155b833e24130e3795fcf9748b206b4d76bfed6c20b738d78cb
  Stored in directory: /root/.cache/pip/wheels/fd/6a/dd/209eb19d5f2266b9cfd06827539bf70435b0ad5fe8244e52d3
  Building wheel for jellyfish (setup.py) ... done
  Created wheel for jellyfish: filename=jellyfish-0.9.0-cp38-cp38-linux_x86_64.whl size=70609 sha256=19003c22ebc931af0578272c63cb0cee2291fb7e5d11b0bc19e3f6213b9ed454
  Stored in directory: /root/.cache/pip/wheels/f1/c7/3c/4c83132de76359e3a429fd09c08995945ca96c5290a41651d3
Successfully built summa jellyfish
Installing collected packages: segtok, jellyfish, yake, summa
Successfully installed jellyfish-0.9.0 segtok-1.5.11 summa-1.2.0 yake-0.4.8

In [ ]:
# YAKE
import yake
kw_extractor = yake.KeywordExtractor(top = 50, stopwords = None)

In [ ]:
cleaned_df['Company'].value_counts()

oracle india          55
microsoft             54
visa inc .            49
texas instruments     47
intel technology      45
                      ..
nasdaq                 1
larsen toubro ltd      1
netapp                 1
radisys india          1
stmicroelectronics     1
Name: Company, Length: 216, dtype: int64

In [ ]:
unique_companies = cleaned_df['Company'].unique()
print(unique_companies)
print(len(unique_companies))

['nvidia' 'qualcomm' 'royal bank of scotland' 'samsung r d'
 'samsung r d institute bangalore' 'samsung semiconductor india r d'
 'sandisk' 'solarium' 'solarium technologies' 'solarium technologies ltd'
 'texas instruments' 'tu braunschweig' 'ugam solutions'
 'universite de montreal canada through mitacs globalink research internship program'
 'university of lubeck germany' 'wells fargo' 'adobe' 'arcesium' 'archler'
 'arista networks' 'arm' 'bosch' 'citi corp' 'deloitte' 'digiteyes '
 'efftronics' 'fidelity investments' 'fireeye' 'fourth frontier'
 'goldman sachs' 'google zurich switzerland office ' 'google hyderabad'
 'intuit' 'j p morgan chase co' 'jp morgan chase co' 'jpmorgan chase co'
 'krazybee' 'maq software' 'microsoft' 'morgan stanley'
 'plivo communications pvt . ltd . bangalore' 'samsung'
 'samsung r d bangalore srib '
 'samsung bangalore hepia university switzerland cern switzerland'
 'tum munich germany' 'visa inc .' 'vmware' 'wooqer'
 'hsbc technology india' 'myntra designs' 'j p morgan' 'walmart labs'
 'wellsfargo' 'hewlett packard' 'sprinklr india'
 'samsung semiconductor india' 'cisco systems' 'textron india'
 'gep solutions' 'credit suisse' 'citi bank india' 'l t construction'
 'arcesium india' 'impel labs' 'dell emc' 'zs associates' 'sap lab'
 'caterpillar india' 'graphene health tech' 'capgemini' 'exxonmobil'
 'exl service' 'deusche bank' 'fidelity business services' 'radisys india'
 'bajaj auto' 'wabco india limited' 'netapp' 'edvizo media' 'amd india'
 'axis bank' 'intuit india' 'microland' 'kpit technologies' 'quantiphi'
 'larsen toubro ltd' 'vedanta group' 'arvind internet' 'nasdaq'
 'amazon india' 'tejas networks' 'ittiam systems' 'gail india limited'
 'siemens gamesa renewable energy' 'nreach online services'
 'intel technology' 'thermax' 'thermo fisher scientific'
 'commscope networks' 'ge india' 'maxlinear technologies india'
 'robert bosch engg' 'iocl' 'propelld' 'ibm india' 'analog devices'
 'kla tencor software' 'technipfmc india' 'cartesian consulting'
 'huawei technologies' 'nxp india' 'national instruments'
 'reliance industries' 'c dot' 'wirtgen india' 'vvf india ltd .'
 'mediatek' 'tata motors' 'siemens technology services' 'genpact'
 'nestaway technologies' 'belong technologies' 'tata chemicals'
 'saraswati online .com academy' 'hsbc electronic data processing'
 'wipro limited' 'widasconcepts' 'l t infra' 'mrf limited' 'efd induction'
 'neutrinos technology' 'hls asia' 'aarvee associates'
 'endurance technologies' 'jsw steel ltd' 'beml' 'dquotient'
 'enzene biosciences' 'afcons infrastructure' 'tavant technologies'
 'john deere' 'mercedes benz r d' 'mahindra mahindra' 'oracle india'
 'd e shaw' 'amazon' 'honeywell technology' 'infoworks data' 'wipro'
 'publicis sapient' 'flipkart' 'adobe systems' 'ather energy' 'citi india'
 'abinbev' 'swiggy' 'ansys software' 'uber india' 'standard chartered gbs'
 'american express' 'boeing' 'l t infotech' 'tenovia solutions'
 'saint gobain india' 'applied materials' 'osi energy automation india'
 'dell technologies' 'gnani innovations' 'kla tencor' 'pulse secure'
 'cadence design systems' 'droona innovations india pvt . ltd'
 'siemens technology' 'peacock solar' 'nxp semiconductors'
 'volvo group india' 'tata steel' 'mtr foods' 'cummins india limited'
 'dr . reddy s laboratories' 'servicenow' 'deutsche bank'
 'sedemac mechatronics pvt ltd' 'hewlett packard enterprise'
 'royal bank of scotland natwest group ' 'strand life sciences'
 'ushur technologies' 'deskera systems' 'ipetronik india private limited'
 'optum uhg' 'becton dickinson' 'ford motors india private limited'
 'fractal analytics' 'garrett motion technologies pvt ltd' 'dbs bank'
 'micron' 'legato health technologies' 'mphasis limited normal '
 'google india' 'de shaw' 'barclays' 'disney hotstar' 'mathworks'
 'ge healthcare' 'twilio' 'accenture' 'virtueinfo tech'
 'pidilite industries' 'pricewaterhousecoopers pwc ' 'machani group'
 'arm embedded technologies pvt ltd' 'tcs' 'outlook publishing'
 'hoggy litifer technologies pvt . ltd . ' 'databricks'
 'stmicroelectronics']
216

In [ ]:
keywords = {}

for company in unique_companies:
  company_df = cleaned_df[cleaned_df['Company'] == company]

  full_text = {}
  for col in important_cols:
    full_text[col] = ''
    for row in company_df[col]:
      full_text[col] += f' {row}'

  keywords[company] = {}
  for col in important_cols:
    keywords[company][col] = kw_extractor.extract_keywords(full_text[col])

print(keywords.keys())

dict_keys(['nvidia', 'qualcomm', 'royal bank of scotland', 'samsung r d', 'samsung r d institute bangalore', 'samsung semiconductor india r d', 'sandisk', 'solarium', 'solarium technologies', 'solarium technologies ltd', 'texas instruments', 'tu braunschweig', 'ugam solutions', 'universite de montreal canada through mitacs globalink research internship program', 'university of lubeck germany', 'wells fargo', 'adobe', 'arcesium', 'archler', 'arista networks', 'arm', 'bosch', 'citi corp', 'deloitte', 'digiteyes ', 'efftronics', 'fidelity investments', 'fireeye', 'fourth frontier', 'goldman sachs', 'google zurich switzerland office ', 'google hyderabad', 'intuit', 'j p morgan chase co', 'jp morgan chase co', 'jpmorgan chase co', 'krazybee', 'maq software', 'microsoft', 'morgan stanley', 'plivo communications pvt . ltd . bangalore', 'samsung', 'samsung r d bangalore srib ', 'samsung bangalore hepia university switzerland cern switzerland', 'tum munich germany', 'visa inc .', 'vmware', 'wooqer', 'hsbc technology india', 'myntra designs', 'j p morgan', 'walmart labs', 'wellsfargo', 'hewlett packard', 'sprinklr india', 'samsung semiconductor india', 'cisco systems', 'textron india', 'gep solutions', 'credit suisse', 'citi bank india', 'l t construction', 'arcesium india', 'impel labs', 'dell emc', 'zs associates', 'sap lab', 'caterpillar india', 'graphene health tech', 'capgemini', 'exxonmobil', 'exl service', 'deusche bank', 'fidelity business services', 'radisys india', 'bajaj auto', 'wabco india limited', 'netapp', 'edvizo media', 'amd india', 'axis bank', 'intuit india', 'microland', 'kpit technologies', 'quantiphi', 'larsen toubro ltd', 'vedanta group', 'arvind internet', 'nasdaq', 'amazon india', 'tejas networks', 'ittiam systems', 'gail india limited', 'siemens gamesa renewable energy', 'nreach online services', 'intel technology', 'thermax', 'thermo fisher scientific', 'commscope networks', 'ge india', 'maxlinear technologies india', 'robert bosch engg', 'iocl', 'propelld', 'ibm india', 'analog devices', 'kla tencor software', 'technipfmc india', 'cartesian consulting', 'huawei technologies', 'nxp india', 'national instruments', 'reliance industries', 'c dot', 'wirtgen india', 'vvf india ltd .', 'mediatek', 'tata motors', 'siemens technology services', 'genpact', 'nestaway technologies', 'belong technologies', 'tata chemicals', 'saraswati online .com academy', 'hsbc electronic data processing', 'wipro limited', 'widasconcepts', 'l t infra', 'mrf limited', 'efd induction', 'neutrinos technology', 'hls asia', 'aarvee associates', 'endurance technologies', 'jsw steel ltd', 'beml', 'dquotient', 'enzene biosciences', 'afcons infrastructure', 'tavant technologies', 'john deere', 'mercedes benz r d', 'mahindra mahindra', 'oracle india', 'd e shaw', 'amazon', 'honeywell technology', 'infoworks data', 'wipro', 'publicis sapient', 'flipkart', 'adobe systems', 'ather energy', 'citi india', 'abinbev', 'swiggy', 'ansys software', 'uber india', 'standard chartered gbs', 'american express', 'boeing', 'l t infotech', 'tenovia solutions', 'saint gobain india', 'applied materials', 'osi energy automation india', 'dell technologies', 'gnani innovations', 'kla tencor', 'pulse secure', 'cadence design systems', 'droona innovations india pvt . ltd', 'siemens technology', 'peacock solar', 'nxp semiconductors', 'volvo group india', 'tata steel', 'mtr foods', 'cummins india limited', 'dr . reddy s laboratories', 'servicenow', 'deutsche bank', 'sedemac mechatronics pvt ltd', 'hewlett packard enterprise', 'royal bank of scotland natwest group ', 'strand life sciences', 'ushur technologies', 'deskera systems', 'ipetronik india private limited', 'optum uhg', 'becton dickinson', 'ford motors india private limited', 'fractal analytics', 'garrett motion technologies pvt ltd', 'dbs bank', 'micron', 'legato health technologies', 'mphasis limited normal ', 'google india', 'de shaw', 'barclays', 'disney hotstar', 'mathworks', 'ge healthcare', 'twilio', 'accenture', 'virtueinfo tech', 'pidilite industries', 'pricewaterhousecoopers pwc ', 'machani group', 'arm embedded technologies pvt ltd', 'tcs', 'outlook publishing', 'hoggy litifer technologies pvt . ltd . ', 'databricks', 'stmicroelectronics'])

In [ ]:
len(keywords)

216

In [ ]:
cd ../Extracting-keywords

In [ ]:
import json
with open(json_export, 'w') as jsonfile:
  json.dump(keywords, jsonfile)